In [2]:
import pandas as pd
import numpy as np
import sqlalchemy
import psycopg2

from sqlalchemy import create_engine
from config import db_password

# Exploring the data

In [3]:
# Import dataset from Kaggle csv's
games_details_data = pd.read_csv("../resources/games_details.csv")
games_details_data.head()

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0

In [4]:
games_details_df = games_details_data.copy()

In [5]:
games_details_df.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
NICKNAME              object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

In [6]:
games_details_df["COMMENT"].value_counts()

DNP - Coach's Decision                      54563
DNP - Coach's Decision                      30547
DND - Injury/Illness                         1267
DNP - Injury/Illness                         1151
DNP - Injury/Illness                          960
                                            ...
NWT - Ankle sprain                              1
DND - Strained rt. calf                         1
DND - Left Achilles Surgery.                    1
DND - Tendonitis Left Ankle                     1
DND - Non-Displaced Fracture, Left Fibul        1
Name: COMMENT, Length: 5348, dtype: int64

In [8]:
games_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       398738
COMMENT              540351
MIN                  105603
FGM                  105603
FGA                  105603
FG_PCT               105603
FG3M                 105603
FG3A                 105603
FG3_PCT              105603
FTM                  105603
FTA                  105603
FT_PCT               105603
OREB                 105603
DREB                 105603
REB                  105603
AST                  105603
STL                  105603
BLK                  105603
TO                   105603
PF                   105603
PTS                  105603
PLUS_MINUS           129264
dtype: int64

In [9]:
games_details_df = games_details_df.drop(columns = ['NICKNAME'])

games_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,F,NaN,36:22,4.0,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,F,NaN,23:54,6.0,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,C,NaN,25:17,4.0,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,NaN,30:52,4.0,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,NaN,33:46,3.0,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,NaN,NaN,23:56,3.0,...,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,NaN,NaN,21:00,2.0,...,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,NaN,NaN,21:35,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,NaN,NaN,22:53,3.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,NaN,NaN,0:25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
games_details_df.sample(n=10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
30122,42000164,1610612757,POR,Portland,1628388,T.J. Leaf,NaN,NaN,3:22,2.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,-2.0
147784,20700091,1610612760,SEA,Seattle,201142,Kevin Durant,G,NaN,33:15,7.0,...,2.0,4.0,6.0,2.0,1.0,1.0,2.0,0.0,19.0,-17.0
615140,21201106,1610612762,UTA,Utah,2224,Jamaal Tinsley,NaN,NaN,18:51,0.0,...,0.0,1.0,1.0,5.0,1.0,0.0,0.0,1.0,0.0,-10.0
347885,40900135,1610612748,MIA,Miami,201596,Mario Chalmers,NaN,NaN,30:39,6.0,...,0.0,4.0,4.0,1.0,0.0,0.0,3.0,4.0,20.0,3.0
384577,21900152,1610612762,UTA,Utah,1626220,Royce O'Neale,F,NaN,22:10,2.0,...,0.0,1.0,1.0,2.0,1.0,0.0,2.0,3.0,8.0,1.0
200735,20500722,1610612743,DEN,Denver,1863,Earl Boykins,NaN,NaN,28:44,2.0,...,1.0,2.0,3.0,6.0,0.0,0.0,2.0,2.0,12.0,10.0
540016,21401161,1610612741,CHI,Chicago,2550,Kirk Hinrich,NaN,NaN,15:24,2.0,...,0.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,5.0,3.0
146399,20700148,1610612762,UTA,Utah,201165,Morris Almond,NaN,NaN,4:42,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
429931,21701174,1610612747,LAL,Los Angeles,101112,Channing Frye,NaN,NaN,26:17,8.0,...,0.0,4.0,4.0,1.0,0.0,0.0,0.0,2.0,19.0,11.0
498439,11600018,1610612762,UTA,Utah,202324,Derrick Favors,NaN,DND - Left Knee Soreness,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
games_details_df['COMMENT'].value_counts()

DNP - Coach's Decision                      54563
DNP - Coach's Decision                      30547
DND - Injury/Illness                         1267
DNP - Injury/Illness                         1151
DNP - Injury/Illness                          960
                                            ...
NWT - Ankle sprain                              1
DND - Strained rt. calf                         1
DND - Left Achilles Surgery.                    1
DND - Tendonitis Left Ankle                     1
DND - Non-Displaced Fracture, Left Fibul        1
Name: COMMENT, Length: 5348, dtype: int64

In [12]:
# All rows where there is a 'COMMENT' mean that the player didn't play that game
# Got rid of those rows by grabbing all rows where COMMENT = NaN
new_details_df = games_details_df[games_details_df['COMMENT'].isnull()]

new_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,F,NaN,36:22,4.0,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,F,NaN,23:54,6.0,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,C,NaN,25:17,4.0,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,NaN,30:52,4.0,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,NaN,33:46,3.0,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,NaN,NaN,23:56,3.0,...,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,NaN,NaN,21:00,2.0,...,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,NaN,NaN,21:35,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,NaN,NaN,22:53,3.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,NaN,NaN,0:25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
new_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
START_POSITION       293136
COMMENT              540351
MIN                       1
FGM                       1
FGA                       1
FG_PCT                    1
FG3M                      1
FG3A                      1
FG3_PCT                   1
FTM                       1
FTA                       1
FT_PCT                    1
OREB                      1
DREB                      1
REB                       1
AST                       1
STL                       1
BLK                       1
TO                        1
PF                        1
PTS                       1
PLUS_MINUS            23662
dtype: int64

In [15]:
new_details_df[new_details_df['MIN'].isna()]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
460855,11700036,1610612758,SAC,Sacramento,204022,Jack Cooley,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Filtering out the the final row that had no minutes played 
new_details_df = new_details_df[new_details_df['MIN'].notnull()]

new_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,F,NaN,36:22,4.0,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,F,NaN,23:54,6.0,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,C,NaN,25:17,4.0,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,NaN,30:52,4.0,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,NaN,33:46,3.0,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,NaN,NaN,23:56,3.0,...,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,NaN,NaN,21:00,2.0,...,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,NaN,NaN,21:35,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,NaN,NaN,22:53,3.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,NaN,NaN,0:25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
new_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
START_POSITION       293135
COMMENT              540350
MIN                       0
FGM                       0
FGA                       0
FG_PCT                    0
FG3M                      0
FG3A                      0
FG3_PCT                   0
FTM                       0
FTA                       0
FT_PCT                    0
OREB                      0
DREB                      0
REB                       0
AST                       0
STL                       0
BLK                       0
TO                        0
PF                        0
PTS                       0
PLUS_MINUS            23661
dtype: int64

In [23]:
# Getting rid of unnecessary columns
new_details_df = new_details_df.drop(columns = ['START_POSITION', 'COMMENT', 'PLUS_MINUS'])

new_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,...,1.00,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,...,1.00,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,...,0.75,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,...,0.00,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,...,1.00,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,23:56,3.0,8.0,0.375,...,1.00,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,21:00,2.0,5.0,0.400,...,1.00,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,21:35,6.0,13.0,0.462,...,1.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,22:53,3.0,8.0,0.375,...,0.60,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,0:25,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
new_details_df.isnull().sum()

GAME_ID              0
TEAM_ID              0
TEAM_ABBREVIATION    0
TEAM_CITY            0
PLAYER_ID            0
PLAYER_NAME          0
MIN                  0
FGM                  0
FGA                  0
FG_PCT               0
FG3M                 0
FG3A                 0
FG3_PCT              0
FTM                  0
FTA                  0
FT_PCT               0
OREB                 0
DREB                 0
REB                  0
AST                  0
STL                  0
BLK                  0
TO                   0
PF                   0
PTS                  0
dtype: int64

In [26]:
# Connect data to the Database to be merged
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

new_details_df.to_sql(name='new_details_df', con=engine, if_exists = 'replace')

In [27]:
# Import games data csv
games_data = pd.read_csv("../resources/games.csv")
games_data.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0

In [28]:
new_games = games_data.copy()
new_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25791,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25792,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25793,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25794,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25795,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [29]:
# Getting the dates from the game data to add to the player data
id_date = new_games[['GAME_DATE_EST', 'GAME_ID']].copy()
id_date

      GAME_DATE_EST   GAME_ID
0        2022-03-12  22101005
1        2022-03-12  22101006
2        2022-03-12  22101007
3        2022-03-12  22101008
4        2022-03-12  22101009
...             ...       ...
25791    2014-10-06  11400007
25792    2014-10-06  11400004
25793    2014-10-06  11400005
25794    2014-10-05  11400002
25795    2014-10-04  11400001

[25796 rows x 2 columns]

In [30]:
# Connect data to the Database to be merged
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

id_date.to_sql(name='id_date', con=engine, if_exists = 'replace')

# Dataframe with ALL Player data

In [31]:
# Importing the merged data - added dates to the player data in the database
details_dates = pd.read_sql_table("details_with_dates", con=engine)
details_dates

,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST,GAME_ID
0,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,3.0,...,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,2022-03-12,22101005
1,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,1.0,...,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,2022-03-12,22101005
2,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,1.0,...,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,2022-03-12,22101005
3,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,4.0,...,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,2022-03-12,22101005
4,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,1.0,...,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,2022-03-12,22101005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541085,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,0.444,3.0,...,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,2012-10-06,11200005
541086,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,0.636,0.0,...,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,2012-10-06,11200005
541087,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,0.429,0.0,...,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,2012-10-06,11200005
541088,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,1.000,0.0,...,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,2012-10-06,11200005
541089,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,0.500,0.0,...,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,2012-10-06,11200005

In [32]:
details_dates.isnull().sum()

TEAM_ID              0
TEAM_ABBREVIATION    0
TEAM_CITY            0
PLAYER_ID            0
PLAYER_NAME          0
MIN                  0
FGM                  0
FGA                  0
FG_PCT               0
FG3M                 0
FG3A                 0
FG3_PCT              0
FTM                  0
FTA                  0
FT_PCT               0
OREB                 0
DREB                 0
REB                  0
AST                  0
STL                  0
BLK                  0
TO                   0
PF                   0
PTS                  0
GAME_DATE_EST        0
GAME_ID              0
dtype: int64

In [33]:
# Checking for duplicate rows
duplicate = details_dates[details_dates.duplicated()]
duplicate

,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST,GAME_ID
35075,1610612738,BOS,Boston,1628369,Jayson Tatum,37:04,11.0,24.0,0.458,3.0,...,6.0,6.0,2.0,1.0,1.0,3.0,1.0,28.0,2021-01-01,22000070
35077,1610612738,BOS,Boston,202684,Tristan Thompson,25:35,2.0,4.0,0.500,0.0,...,8.0,9.0,2.0,1.0,2.0,3.0,2.0,5.0,2021-01-01,22000070
35079,1610612738,BOS,Boston,1628464,Daniel Theis,23:58,1.0,2.0,0.500,0.0,...,5.0,6.0,0.0,0.0,3.0,2.0,3.0,2.0,2021-01-01,22000070
35081,1610612738,BOS,Boston,1627759,Jaylen Brown,37:34,12.0,20.0,0.600,1.0,...,7.0,9.0,2.0,3.0,2.0,4.0,3.0,25.0,2021-01-01,22000070
35083,1610612738,BOS,Boston,203935,Marcus Smart,38:11,5.0,14.0,0.357,3.0,...,3.0,3.0,9.0,3.0,0.0,4.0,3.0,13.0,2021-01-01,22000070
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49310,1610612741,CHI,Chicago,1629690,Adam Mokoka,16:47,2.0,6.0,0.333,0.0,...,1.0,2.0,2.0,1.0,1.0,0.0,1.0,4.0,2020-12-23,22000015
49320,1610612765,DET,Detroit,1626153,Delon Wright,19:09,2.0,5.0,0.400,1.0,...,2.0,2.0,4.0,1.0,0.0,1.0,0.0,5.0,2020-12-23,22000018
49322,1610612765,DET,Detroit,201565,Derrick Rose,26:48,7.0,13.0,0.538,1.0,...,1.0,1.0,6.0,2.0,1.0,1.0,1.0,15.0,2020-12-23,22000018
49324,1610612750,MIN,Minnesota,1627736,Malik Beasley,26:37,10.0,18.0,0.556,3.0,...,3.0,4.0,2.0,1.0,0.0,1.0,3.0,23.0,2020-12-23,22000018
49326,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:20,7.0,16.0,0.438,4.0,...,4.0,5.0,4.0,1.0,0.0,2.0,2.0,18.0,2020-12-23,22000018

In [34]:
# Dropping duplicate rows
details_dates.drop_duplicates(inplace = True)

In [35]:
details_dates

,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,FG3M,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST,GAME_ID
0,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,3.0,...,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,2022-03-12,22101005
1,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,1.0,...,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,2022-03-12,22101005
2,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,1.0,...,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,2022-03-12,22101005
3,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,4.0,...,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,2022-03-12,22101005
4,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,1.0,...,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,2022-03-12,22101005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541085,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,0.444,3.0,...,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,2012-10-06,11200005
541086,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,0.636,0.0,...,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,2012-10-06,11200005
541087,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,0.429,0.0,...,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,2012-10-06,11200005
541088,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,1.000,0.0,...,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,2012-10-06,11200005
541089,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,0.500,0.0,...,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,2012-10-06,11200005

In [36]:
details_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540350 entries, 0 to 541089
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TEAM_ID            540350 non-null  int64
 1   TEAM_ABBREVIATION  540350 non-null  object
 2   TEAM_CITY          540350 non-null  object
 3   PLAYER_ID          540350 non-null  int64
 4   PLAYER_NAME        540350 non-null  object
 5   MIN                540350 non-null  object
 6   FGM                540350 non-null  float64
 7   FGA                540350 non-null  float64
 8   FG_PCT             540350 non-null  float64
 9   FG3M               540350 non-null  float64
 10  FG3A               540350 non-null  float64
 11  FG3_PCT            540350 non-null  float64
 12  FTM                540350 non-null  float64
 13  FTA                540350 non-null  float64
 14  FT_PCT             540350 non-null  float64
 15  OREB               540350 non-null  float64
 16  DREB               540350 non-null  float64
 17  REB                540350 non-null  float64
 18  AST                540350 non-null  float64
 19  STL                540350 non-null  float64
 20  BLK                540350 non-null  float64
 21  TO                 540350 non-null  float64
 22  PF                 540350 non-null  float64
 23  PTS                540350 non-null  float64
 24  GAME_DATE_EST      540350 non-null  object
 25  GAME_ID            540350 non-null  int64
dtypes: float64(18), int64(3), object(5)
memory usage: 111.3+ MB

In [37]:
details_dates['GAME_DATE_EST'] = pd.to_datetime(details_dates['GAME_DATE_EST'])

In [38]:
details_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540350 entries, 0 to 541089
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TEAM_ID            540350 non-null  int64
 1   TEAM_ABBREVIATION  540350 non-null  object
 2   TEAM_CITY          540350 non-null  object
 3   PLAYER_ID          540350 non-null  int64
 4   PLAYER_NAME        540350 non-null  object
 5   MIN                540350 non-null  object
 6   FGM                540350 non-null  float64
 7   FGA                540350 non-null  float64
 8   FG_PCT             540350 non-null  float64
 9   FG3M               540350 non-null  float64
 10  FG3A               540350 non-null  float64
 11  FG3_PCT            540350 non-null  float64
 12  FTM                540350 non-null  float64
 13  FTA                540350 non-null  float64
 14  FT_PCT             540350 non-null  float64
 15  OREB               540350 non-null  float64
 16  DREB               540350 non-null  float64
 17  REB                540350 non-null  float64
 18  AST                540350 non-null  float64
 19  STL                540350 non-null  float64
 20  BLK                540350 non-null  float64
 21  TO                 540350 non-null  float64
 22  PF                 540350 non-null  float64
 23  PTS                540350 non-null  float64
 24  GAME_DATE_EST      540350 non-null  datetime64[ns]
 25  GAME_ID            540350 non-null  int64
dtypes: datetime64[ns](1), float64(18), int64(3), object(4)
memory usage: 111.3+ MB

In [39]:
# Moving GAME_ID to beginning of the table
details_dates.set_index(details_dates.pop('GAME_ID'), inplace = True)
details_dates.reset_index(inplace = True)
details_dates

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,2022-03-12
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,2022-03-12
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,2022-03-12
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,2022-03-12
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,2022-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,0.444,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,2012-10-06
540346,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,0.636,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,2012-10-06
540347,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,0.429,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,2012-10-06
540348,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,1.000,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,2012-10-06
540349,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,0.500,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,2012-10-06

In [40]:
# Moving GAME_DATE_EST to beginning of the table
details_dates.set_index(details_dates.pop('GAME_DATE_EST'), inplace = True)
details_dates.reset_index(inplace = True)
details_dates

,GAME_DATE_EST,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,...,1.000,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,...,1.000,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,...,0.750,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,...,0.000,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,...,1.000,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,2012-10-06,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
540346,2012-10-06,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
540347,2012-10-06,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
540348,2012-10-06,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
540349,2012-10-06,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

# Rename Columns

In [42]:
details_dates = details_dates.rename(columns = {'GAME_DATE_EST':'GAME_DATE','FGM': '2pointer_MADE', 'FGA':'2pointer_ATTEMPTS',
                                                 'FG_PCT':'2pointer_PCT', 'FG3M':'3pointer_MADE', 'FG3A':'3pointer_ATTEMPTS',
                                               'FG3_PCT':'3pointer_PCT', 'FTM':'FreeThrow_MADE', 'FTA':'FreeThrow_ATTEMPTS',
                                               'FT_PCT':'FreeThrow_PCT', 'OREB':'OFFENSIVE_REBOUNDS', 'DREB':'DEFENSIVE_REBOUNDS',
                                               'REB':'REBOUNDS_TOTAL', 'AST':'ASSISTS', 'STL':'STEALS', 'BLK':'BLOCKS',
                                               'TO':'TURNOVERS', 'PF':'PERSONAL_FOULS', 'PTS':'POINTS'})
details_dates.head()

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,...,1.00,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,...,1.00,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,...,0.75,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,...,0.00,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,...,1.00,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0

In [43]:
len(details_dates)

540350

# Loading All player data into the Database

In [44]:
# Export to the database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

details_dates.to_sql(name='All_player_data', con=engine, if_exists = 'replace')

In [45]:
# Pull in data from database 
All_player_data = pd.read_sql_table("All_player_data", con=engine)
All_player_data

,index,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
0,0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,...,1.000,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,...,1.000,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,...,0.750,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,...,0.000,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,...,1.000,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,540345,2012-10-06,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
540346,540346,2012-10-06,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
540347,540347,2012-10-06,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
540348,540348,2012-10-06,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
540349,540349,2012-10-06,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [48]:
All_player_data_df = All_player_data.drop(['index'], axis = 1)
All_player_data_df

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,...,1.000,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,...,1.000,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,...,0.750,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,...,0.000,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,...,1.000,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,2012-10-06,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
540346,2012-10-06,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
540347,2012-10-06,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
540348,2012-10-06,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
540349,2012-10-06,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [51]:
# Export data as a csv
All_player_data_df.to_csv('../Resources/All_player_data.csv')